<div class="container mt-5">
  <% flash.each do |value| %>
    <div class="text-success text-center">
      <%= value[1] %>
    </div>
  <% end %>
  <div class="mt-5 text-right">
    <%= link_to '<span class="badge badge-pill badge-warning">Microposts</span>'.html_safe, microposts_path %>
  </div>
  <button type="button" class="btn btn-primary">
    Users <span class="badge badge-light"><%= @users.count %></span>
  </button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="3"> Action</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr class="bg-secondary text-white">
        <td scope="row"><%= link_to user.name, user, class: 'text-white text-capitalize' %></td>
        <td><%= user.email %></td>
        <td><%= link_to '<span class="badge badge-pill badge-success">Show</span>'.html_safe, user, class: "text-white" %></td>
        <td><%= link_to '<span class="badge badge-pill badge-warning">Edit</span>'.html_safe, edit_user_path(user), class: "text-white" %></td>
        <td><%= link_to '<span class="badge badge-pill badge-dark">Destroy</span>'.html_safe, user, class: "text-white", method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to '<span class="badge badge-pill badge-primary">New User</span>'.html_safe, new_user_path %>
</div>
<br>


