<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <%= link_to "Sample app", '#', id: "logo", class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-md-7">
          <ul class="navbar-nav float-right">
            <li class="nav-item active py-2">
              <%= link_to "Home", root_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item py-2">
              <%= link_to "Help", help_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item py-2">
              <%= link_to "About", about_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item py-2">
              <%= link_to "Contact", contact_path, class: "nav-link text-white" %>
            </li>
            <%# if logged_in? %>
<!--              <li class="nav-item py-2">-->
                <%#= link_to "Log out", logout_path, class: "nav-link text-white" %>
<!--              </li>-->
            <%# else %>
<!--              <li class="nav-item py-2">-->
                <%#= link_to "Sign Up", signup_path, class: "nav-link text-white" %>
<!--              </li>-->
<!--              <li class="nav-item">-->
                <%#= link_to '<button type="button" class="btn btn-primary">Login</button>'.html_safe, login_path, class: "nav-link" %>
<!--              </li>-->
            <%# end %>
            <% if logged_in? %>
              <li class="py-2"><%= link_to "Users", '#',class: "nav-link text-white" %></li>
              <li class="dropdown nav-link text-white" style="margin-top: 8px">
                <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user,class: "nav-link" %></li>
                  <li><%= link_to "Settings", '#',class: "nav-link" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: :delete,class: "nav-link" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="py-2"><%= link_to "Log in", login_path, class: "nav-link text-white" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>